@import "../../Components/breakPoints.scss";
.contact-us {
  width: 100%;
  padding: 2em 0;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .info-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 2em;
      @include breakPoints(mobile) {
        flex-direction: column;
      }
      @include breakPoints(small) {
        flex-direction: column;
      }
    }
    .img-wrapper {
      width: 50%;
      background-color: var(--dark-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 30px;
      padding: 1em;
      @include breakPoints(mobile) {
        width: 100%;
      }
      @include breakPoints(small) {
        width: 100%;
      }
      img {
        width: 20em;
        margin-bottom: 1em;
        @include breakPoints(mobile) {
          width: 10em;
        }
      }
      ul {
        li {
          margin-bottom: 1em;
          font-size: 1.5em;
          color: var(--light-color);
          list-style: none;
          display: flex;
          align-items: center;
          svg {
            color: var(--main-color);
            margin-left: 1em;
          }
          @include breakPoints(mobile) {
            font-size: 1.2em;
          }
        }
      }
    }
    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      @include breakPoints(mobile) {
        width: 100%;
      }
      @include breakPoints(small) {
        width: 100%;
      }
      input,
      textarea {
        width: 100%;
        padding: 0.5em 1em;
        margin: 0.5em 0;
        background-color: var(--light-color);
        border: none;
        outline: none;
        font-size: 1.5em;
        border-radius: 10px;
        color: var(--main-color);
        @include breakPoints(mobile) {
          font-size: 1em;
        }
        @include breakPoints(small) {
          font-size: 1em;
        }
      }
      textarea {
        resize: none;
        margin-bottom: 1em;
      }

      .buttons-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2em;
        button {
          width: 100%;
        }
      }
    }
  }
}
