@import "../../Components/breakPoints.scss";
.section3 {
  width: 100%;
  margin: 1em 0;
  background-image: url("../../assets/imgs/what\ we\ offring.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.485);
    gap: 2em;
    align-items: center;
    justify-content: center;
    @include breakPoints(mobile) {
      flex-direction: column;
      padding: 0;
    }
    @include breakPoints(small) {
      flex-direction: row-reverse;
      padding: 0;
    }
    .services {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 2em 5em 2em 0;
      width: 50%;
      @include breakPoints(mobile) {
        padding: 1em;
        width: 100%;
      }
      @include breakPoints(small) {
        padding: 1em;
        width: 100%;
      }
      #title {
        color: var(--light-color);
        text-align: left;
        margin: 0.5em 0;
      }
      ul {
        width: 100%;
        li {
          list-style: none;
          font-family: "700";
          font-size: 1.5em;
          margin: 0 2em 1em 0;
          position: relative;
          color: var(--main-color);
          &::after {
            content: attr(data-number);
            position: absolute;
            top: 0;
            right: -2em;
            width: 1.5em;
            height: 1.5em;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            background-color: var(--light-color);
            border-radius: 50%;
          }

          p {
            color: var(--light-color);
            font-size: 0.8em;
            margin-top: 0.5em;
            width: 80%;
            text-wrap: pretty;
            line-height: 1.5;
            @include breakPoints(mobile) {
              width: 90%;
            }
          }
        }
      }
    }
    img {
      width: 30%;
      @include breakPoints(mobile) {
        width: 80%;
      }
      @include breakPoints(mobile) {
        width: 40%;
      }
    }
  }
}
